@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('fonts/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/SegoeUI-Italic.woff2') format('woff2'),
    url('fonts/SegoeUI-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/SegoeUI.woff2') format('woff2'),
    url('fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
    url('fonts/SegoeUI-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html,body{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
}
body{
    volume: 0.5;
}

/*-------------------------------------------------------------------------------(koppen)*/

h1{
    font-weight: lighter;
    font-size: 120px;
    margin: 0rem;
}
h2{
    font-weight: lighter;
    font-size: 6em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1px;
    padding-bottom: 1px;
}
h3{
    font-weight: bold;
    font-size: 2em;
    margin: 0em;
}
h4{
    font-weight: normal;
    font-size: 100px;
    margin: 0rem;
}
h5{
    font-weight: bold;
    font-size: 3em;
    margin: 0em;
}
h6{
    font-weight: lighter;
    font-size: 100px;
    margin: 0rem;
}
p{
    font-weight:normal;
    font-size: 19px;
}
a{
    color: black;
}
/*-------------------------------------------------------------------------------(text)*/

.textWhite{
    color: white;
}
.textBlack{
    color: black;
}

/*-------------------------------------------------------------------------------(homeStart)*/
.homeStart{
    background-image: url("images/h.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    /*width: 100%;*/
}
.homeStartContent{
    display: flex;
    flex-direction: column;

    padding-top: 5vh;
    padding-left: 6vw;
    padding-bottom: 5vh;
}
.locationBox{
    display: flex;
    flex-direction: row;
}
.locationBoxRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.locationBoxCountWhite{
    display: flex;
    justify-content: center;
    border: solid white 3px;
}
.locationBoxNameWhite{
    display: flex;
    justify-content: center;
    border-bottom: solid white 3px;
    border-right: solid white 3px;
    border-top: solid white 3px;
}
.greetings{
    margin-top: 37vh;
}
/*-------------------------------------------------------------------------------(homeAbout)*/
.homeAboutContent {
    display: flex;
    flex-direction: column;

    padding-top: 5vh;
    padding-left: 6vw;
    padding-bottom: 10vh;
}
.locationBoxCountBlack{
    display: flex;
    justify-content: center;
    border: solid black 3px;
}
.locationBoxNameBlack {
    display: flex;
    justify-content: center;
    border-bottom: solid black 3px;
    border-right: solid black 3px;
    border-top: solid black 3px;
}
.aboutH1{
    padding-left: 4vw;
    padding-bottom: 2vh;
}
.aboutInfoContainer{
    display: flex;
    flex-direction: row;
    margin-left: 4vw;
    /*margin-top: 2vh;*/
}
.profilePicRavi{
    width: 12vw;
    height: 12vw;
    margin-left: 4vw;
    border-radius: 50%;
}
.aboutText{
    max-width: 30vw;
    margin-left: 1vw;
}
/*-------------------------------------------------------------------------------(homeProducts)*/
.homeProductsContent{
    display: flex;
    flex-direction: column;

    padding-top: 5vh;
    padding-left: 6vw;
    padding-bottom: 10vh;
}
.homeProducts{
    background-color: #F0F0F0;
}
.outcomeFilterButtonBox{
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
    flex-wrap: wrap;
    width: 70vw;
    margin-left: 10vw;
}
.outcomeFilterButton{
    background-color: white;
    border: solid black 3px;
    margin-right: 1vw;
    margin-bottom: 2vh;
    border-radius: 50px;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
}


.homeButton{
    background-color: white;
    border: solid black 3px;
    margin-right: 1vw;
    margin-bottom: 2vh;
    border-radius: 50px;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.homeButton:hover{
    background-color: black;
    color: white;
    border: solid white 3px;

}

.outcomeFilterButton:hover{
    background-color: #F0F0F0;
    color: black;
}
.outcomeLabel{
    /*background-color: white;*/
    /*border: solid black 3px;*/
    margin-right: 1vw;
    margin-bottom: 2vh;
    border-radius: 50px;
    padding-left: 1vw;
    padding-right: 1vw;
}
/*-------------------------------------------------------------------------------(homeProjects)*/
.homeProjects{
    gap: 10vh 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*background-image: url("images/h.jpg");*/
    background-color: white;
    align-self: flex-end;
    padding-left: 10vw;
    padding-top: 5vh;
    padding-bottom: 10vh;
    padding-right: 10vw;
    align-content: flex-end;
    margin-top: 10vh;
}
.projectBox{
    display: flex;
    justify-content: center;
    /*border-bottom: solid black 3px;*/
    /*border-top: solid black 3px;*/
    /*border-left: solid black 3px;*/
    /*border-right: solid black 3px;*/
    /*padding-left: 2vw;*/
    margin-bottom: 4vh;
    background-color: white;
    border-radius: 200px;
}
/*-------------------------------------------------------------------------------(homeContact)*/
.homeContact{
    background-color: black;
}


.documentationSneakPeak{
    max-width: 45vw;
    margin-left: 45vw;
}
/*-------------------------------------------------------------------------------(processInspiration)*/
.processInspiration{
    background-color: black;
    display: flex;
    justify-content: flex-end;

    padding-top: 5vh;
    padding-right: 6vw;
    padding-bottom: 10vh;
}
.portfolioInspirationDiv{
    margin-right: 5vw;
    display: flex;
    justify-content: flex-end;
}

.inspirationImages{
    display: flex;
    justify-content: flex-start;
    max-width: 90vw;
}
.inspirationImage{
    height: auto;
    max-width: 33%;
    display: flex;
}

.inspirationStatement{
    display: flex;
    justify-content: center;
    max-width: 40vw;
    margin-top: 5vh;
}
.homeAbout{
    background-color: white;
}
.processDesign{
    background-color: #F0F0F0;
}
.developmentStatement{
    display: flex;
    justify-content: left;
    max-width: 35vw;
    margin-right: 20vw;
}
.gitButton{
    background-color: white;
    border: solid black 3px;
    margin-right: 1vw;
    margin-bottom: 2vh;
    border-radius: 50px;
    padding-left: 1vw;
    padding-right: 1vw;
    max-width: fit-content;
}
.gitButtons{
    display: flex;
    flex-direction: row;
}
/*-------------------------------------------------------------------------------(processUItest)*/
.processTestplan{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    padding-top: 5vh;
    padding-right: 6vw;
    padding-bottom: 10vh;
}
.testImages{
    margin-top: 20vh;
    margin-left: 10vw;

    height: auto;
}

.projectBoxDiv{
    min-width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: black;
}
.item{
    background-position: center;
    background-size: cover;
}
/*-------------------------------------------------------------------------------(contentFilter)*/
.show{
    display: block;
}
.artboardImages{
    display: flex;
    flex-direction: row;
}
.artboardImagesHannah{
    display: flex;
    flex-direction: column;
    max-width: 60vw;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
}


.backgroundPortfolio{
    background-image: url("processPages/images/inspoSkull2.png");
    background-size: cover;
}
.backgroundHannah{
    background-image: url("processPages/images/websiteHannahDef2.png");
    background-size: cover;
}
.backgroundUxPortfolio{
    background: url("processPages/images/bannerUITest2.png");
    background-size: cover;
}
.backgroundUxHannah{
    background: url("processPages/images/screenshotFormsHannah2.png");
    background-size: cover;
}
.backgroundAdvancedDev{
    background: url("processPages/images/variablesRockPaper2.png");
    background-size: cover;
}
.backgroundBrandResearch{
    background: url("processPages/images/Group_52.png");
    background-size: cover;
}
.backgroundRockPaper{
    background: url("processPages/images/screenshotRockPaperFinal2.png");
    background-size: cover;
}
.backgroundInfographic{
    background: url("processPages/images/TierV3image - Copy.png");
    background-size: cover;
}
.backgroundHannahTrend{
    background: url("images/bgImage2.png");
    background-size: cover;
}
.backgroundPersonalGrowth{
    background: url("images/eend.jpg");
    background-size: cover;
}
.backgroundSprintX{
    background: url("sprintXpage/images/cascade3.JPG");
    background-size: cover;
}


.active{
    background: black !important;
    color: white !important;
}












#cursor{
    position: absolute;
    /*z-index: 1;*/
    margin-left: 60px;
    margin-top: 60px;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    /*transition: 0.1s;*/
    transform: translate(-50%, -50%);
    pointer-events: none;
    /*background-color: gray;*/
    /*opacity: 40%;*/
    backdrop-filter: blur(3px);
    mix-blend-mode: difference;
    z-index: 1;
}
.cursorColor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: normal;
    font-size: large;
    color: white;
    mix-blend-mode: difference;
    z-index: 1;
}