*{
    margin: 0;
    padding: 0;

    font-family:sans-serif, Arial;
}
h1{
    color: #663366;
}
h3{
    font-size: 100%;
}
p{
    font-size: 90%;
}
a{
    text-underline: none;
    color: currentColor;
    margin: 0;
    padding: 0;
}
.ehbsModule{
    padding: 50px;
    width: 80vw;
}
.underline{
    display: inline-block;
    min-height: 0.3vh;
    min-width: 80vw;

    background-color: black;
}
.information{
    margin-top: 5vh;

    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}
.sideToSide{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}
.ehbsTeamsKnop{
    font-weight: bolder;
    margin-top: 10vh;
    color: white;
    background-color: #542A54;
    border-radius: 7px;
    border: none;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;

    height: 40px;
    width: 15vw;
    box-shadow: dimgray 3px 3px 3px;
    text-decoration: none;
}
.ehbsTeamsKnop:hover{
    cursor: pointer;
    background-color: #663366;
}
.onDemand{
    padding-left: 20px;
    max-width: 50vw;
}
.waarEnWanneer{
    padding-right: 60px;
    max-width: 50vw;
}