*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
}
header{grid-area: header; display: flex; justify-content: center;}
main{grid-area: main; min-height: 200px;}
aside{grid-area: sidebar; display: none;}
footer{grid-area: footer; display: flex; justify-content: center;}

section#colorsnake{width: 400px; height: 400px; padding: 0px 20px; background-color: lawngreen; border: 10px solid black; margin: 10px;}
section#tba{width: 400px; height: 400px; padding: 0px 20px; background-color: red; border: 10px solid black; margin: 10px;}

.header{
    background-color: red;
    padding: 2px;
}