/*----------------------------------------------------(preset)*/
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;

    color: black;
    font-family: "Comic Sans MS";
    overflow: hidden;
}
button{
    border: transparent;
    background-color: transparent;
}
button:hover{
    cursor: pointer;
}

.show{
    display: flex;
}
.hide{
    display: none !important;
}


.background-firewatch{
    background-image: url("assets/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    cursor: none;
}
#crosshair{
    position:absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    background-image: url("assets/scope-34869.png");
    justify-content: center;
    justify-items: center;
    pointer-events:none;
    transition: 0.07s;
}
.scope{
    height:auto;
    width:20vw;
    justify-content: center;
    justify-items: center;
}
.bird-trajectory{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20vh;
}
.bird{
    height: 10vh;
    width: auto;
}