:root{
    --blue: #1e90ff
}

body{
    margin: 0;
    height: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

svg{
    position: fixed;
    width: 80%;
    top:38%;
    left: 10%;
    height: 90vh;
}
svg path{
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: black;
    fill: none;

    transition: stroke-dashoffset 1s;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

section:nth-of-type(2){
    background-color: var(--blue);
}