*{
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: none;
}
body{
    font-family: adobe-bengali, sans-serif;
    font-weight: 400;
    font-style: normal;

    overflow-x: hidden;
    /* overflow-y: hidden; */

    scroll-behavior: smooth;
}
h1{
    font-family: "sequel100black-75uploadedfile", sans-serif;
    font-size: 5rem;
    line-height: 70px;
}
a{
    text-decoration: none;
}
:root {
    --darkGray: #0D0D0D;
    --lightGray: #7E7E7F;
    --xlightGray: #D8D8D8;
    --orange: #FF5415;
}
::selection {
    color: black;
    background: var(--orange);
  }
@import url(fonts/sequel100black-75-webfont.woff);
@font-face {
    font-family: 'sequel100black-75uploadedfile';
    src: url('fonts/sequel100black-75-webfont.woff') format('woff2'),
         url('fonts/sequel100black-75-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.background-dark-gray{
    background-color: var(--darkGray);
}
.background-xlight-gray{
    background-color: var(--xlightGray);
}
.text-light-gray{
    color: var(--lightGray);
}
.text-dark-gray{
    color: var(--darkGray);
}





.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(assets/hero\ background.svg);
}
.heroText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: var(--darkGray);
}
.text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: block;
    transform-origin: 50% 100%;
    transition: transform 0.25s;
    align-items: center;
}

.text .inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    color: var(--xlightGray);
    font-size: 4rem;
    white-space: nowrap;
    font-family: "sequel100black-75uploadedfile", sans-serif;
}
.text .inner > * {
    padding: 0 1rem;
}

/* .header{
    height: 10vh;
}

.back-button{
    height: 20px;
    width: 20px;
} */

.footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "sequel100black-75uploadedfile", sans-serif;
}
.followUp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.featuredArtFrame{
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}
.featuredImage{
    /* height: 60vh; */
    width: auto;
}


.style_prevu_kit
{
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

/* .image-zoom-available{
    cursor: zoom-in;
}
.image-zoom-available.is-active{
    cursor: none;
} */
body.active img {
    -webkit-filter: grayscale(1);
  }
  
img {
    display: block;
    margin: 20px auto;
    
    border: 1px solid rgba(255,255,255,0.2);
    -webkit-transition: -webkit-filter 500ms;
    -webkit-user-drag: none;
}
  
  #zoom {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    width: 180px;
    height: 180px;
    margin: -125px 0 0 -125px;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 2px var(--orange),
      5px 5px 10px 5px rgba(0,0,0,0.2);
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(0);
    -webkit-transition: opacity 500ms, -webkit-transform 500ms;
    pointer-events: none;
  }
  
  .active #zoom {
    opacity: 1;
    -webkit-transform: scale(3);
  }


.ball {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid var(--orange);
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
}