/*----------------------------------------------------(preset)*/
@font-face {
    font-family: "xFiles";
    src: url(assets/fonts/x-files.ttf) format("truetype");
}
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;

    color: white;
    font-family: xFiles;
    overflow: hidden;
}
button{
    border: transparent;
    background-color: transparent;
}
button:hover{
    cursor: pointer;
}

.show{
    display: flex;
}
.hide{
    display: none;
}

/*----------------------------------------------------(menu)*/
.container-menu{
    background-image: url("assets/xFilesAssets/XfilesWallpaper.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}
.welcome{
    display: flex;
    flex-direction: column;

    margin-left: 10vw;
    margin-top: 20vh;
    font-size: xx-large;
}
.start-banner{
    background-color: yellow;
    width: 40vw;
    margin-top: 45vh;
    padding-left: 400px;
    padding-right: 1200px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transform: rotate(-7deg) translateY(-230px) translateX(-250px);
    line-height: 30px;
}

/*----------------------------------------------------(intro)*/
.title-section{
    height: 100vh;
    width: 100vw;
    background-image: url("assets/xFilesAssets/xFilesTitle.jpg");
    background-size: cover;
}

.saucer-section{
    height: 100vh;
    width: 100vw;
    background-image: url("assets/xFilesAssets/xFilesSaucer.png");
    background-size: cover;
}

.chart-section{
    height: 100vh;
    width: 100vw;
    background-image: url("assets/xFilesAssets/xFilesChart.png");
    background-size: cover;
}

.fbi-section{
    height: 100vh;
    width: 100vw;
    background-image: url("assets/xFilesAssets/xFilesFbi.png");
    background-size: cover;
}

.storm-section{
    height: 100vh;
    width: 100vw;
    background-image: url("assets/xFilesAssets/xFilesStorm.png");
    background-size: cover;
}